*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #151320;
  overflow: hidden;
}

.box{
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  background: #151320;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.box::before, .box::after{
  content: '';
  position: absolute;
  width: calc(60% + 20px);
  height: calc(60% + 20px);
  background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
  #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
  background-size: 300%;
  border-radius: 50%;
  animation: borda-rgb 4s infinite linear;
}

.container{
  animation: scales 2s infinite alternate;
}

.label{
  position: relative;
  width: calc(50% + 7px);
  height: calc(50% + 7px);
  border-radius: 50%;
  display: flex;
  background: #bad5ee;
  animation: borda-rgb 4s infinite linear;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.label::before, .label::after{
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
  #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
  background-size: 300%;
  border-radius: 50%;
  animation: borda-rgb 4s infinite linear;
}

.label::before{
  filter: blur(10px);
}
.box::after{
  filter: blur(120px);
}

@keyframes borda-rgb{
  0%{
    background-position: 0;
  }

  100%{
    background-position: 300%;
  }
}

@keyframes rotate-rgb{
  to{
    transform: rotate(360deg);
  }
}

@keyframes scales{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.5);
  }
  50%{
    transform: scale(1.15);
  }
  75%{
    transform: scale(1.55);
  }
  100%{
    transform: scale(1.75);
  }
}