*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #151320;
  overflow: hidden;
  flex-direction: column;
}

.player{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.btn{
  background-color: transparent;
  border: 0;
  transform: scale(3);
}

.icons{
  display: inline-block;
  color: #fff;
}

.icons:hover{
  color: #0099ff;
}
.rotate{
  transform: rotate(180deg) scale(3);
  display: inline-block;
  position: relative;
  top: 5px;
}

.hidden-pause{
  display: none;
}
.show-pause{
  display: block;
}
.show-play{
  display: block;
}
.hidden-play{
  display: none;
}


.box{
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  background: #151320;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.box::before, .box::after{
  content: '';
  position: absolute;
  width: calc(70% + 20px);
  height: calc(70% + 20px);
  background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
  #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
  background-size: 300%;
  border-radius: 50%;
  animation: borda-rgb 4s infinite linear;
}


.animation-scales{
  animation: scales 2s infinite alternate;
}

.label{
  position: relative;
  width: calc(60% + 7px);
  height: calc(60% + 7px);
  border-radius: 50%;
  display: flex;
  background: #bad5ee;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


.label::before, .label::after{
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
  #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
  background-size: 300%;
  border-radius: 50%;
  animation: borda-rgb 4s infinite linear;
}

.label::before{
  filter: blur(10px);
}
.box::after{
  filter: blur(120px);
}

@keyframes borda-rgb{
  0%{
    background-position: 0;
  }

  100%{
    background-position: 300%;
  }
}

@keyframes rotate-rgb{
  to{
    transform: rotate(360deg);
  }
}

@keyframes scales{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.5);
  }
  50%{
    transform: scale(1.15);
  }
  75%{
    transform: scale(1.55);
  }
  100%{
    transform: scale(1.70);
  }
}